{
  "presets": [
    "next/babel",
    ["@babel/env", {
      "targets": {
        "node": 6
      }
    }]
  ],
  "env": {
    "development": {
      "plugins": ["inline-dotenv", "lodash"]
    },
    "production": {
      "plugins": ["transform-inline-environment-variables", "lodash"]
    }
  }
}