{
  "presets": [
    "next/babel"
  ],
  "env": {
    "development": {
      "plugins": ["inline-dotenv", "lodash"]
    },
    "production": {
      "plugins": ["transform-inline-environment-variables", "lodash"]
    }
  }
}